@import url('https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap');

body {
  background: #4056A3;
}

.grid {
	display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.grid-template-rows-1 {
  grid-template-rows: 100rem 100rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
	margin: 2rem;
  text-align: center;
}

.logo-cripto {
  width: 25rem;
}

.image-cripto {
  width: 30rem;
}

.paragraph {
  margin-top: 1rem;
  font-size: 13.5pt;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.textarea, .offset {
  width: 30rem;
  height: 10rem;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  font-family: 'Open Sans', sans-serif;
  color: #8F909E;
  background-color: white;
}

.offset {
  height: 2rem;
  margin-top: 1rem;
  border-radius: 1rem;
}

.btn-encode, .btn-decode {
  width: 15rem;
  height: 3rem;
  margin: 1rem;
  border-radius: 1rem;
  border: none;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.btn-encode {
  background-color:#4FC4D2;
}

.btn-decode {
  background-color:#EC268F;
}

@media only screen and (max-width: 628px) {

.grid {
  margin-top: 1rem;
}
  
.logo-cripto {
  width: 15rem;
}

.image-cripto {
  width: 15rem;
}

.paragraph {
  font-size: 12pt;
}

.textarea, .offset {
  width: 15rem;
  height: 5rem;
}

.offset {
  height: 1rem;
}

.btn-encode, .btn-decode {
  width: 17rem;
  height: 3rem;
}

.btn-decode {
  margin: 0.2rem;
}

}





